<div class="global-container">
  <div class="header">
    <p>Test technique Web-Atrio realisé par Drouot Sébastien</p>
    <p>realisé le {{ realisationDate | date:'dd/MM/yyyy' }}</p>
  </div>

  <div *ngFor="let bar of progressBars; let i = index" (click)="selectBar(i)" class="progress-bar-container">
    <app-progress-bar [label]="bar.label" [progress]="bar.value" [colorsHex]="bar.colorsHex"></app-progress-bar>
    <i class="delete-icon" (click)="deleteBar(i)">X</i>
  </div>

  <div *ngIf="progressBars.length > 0" class="buttons">
    <button class="button" (click)="resetProgress()">
      {{ activeBarIndex === null ? 'Remettre à zéro les compteurs' : 'Remettre à zéro le compteur' }}
    </button>
    <button class="button" (click)="changeProgress(5)">Ajouter 5%</button>
    <button class="button" (click)="changeProgress(10)">Ajouter 10%</button>
  </div>

  <div class="buttons">
    <button class="button" (click)="addProgressBar()">Ajouter une barre</button>
    <button *ngIf="activeBarIndex != null" class="button" (click)="selectAll()">Selectionner toutes les barres</button>
  </div>
</div>